<body>
<div class="card col-6 offset-3 mt-5" style=" height:80%;  width: 18rem;">
    <div class="card-body">
        <h3  style="text-align:center ;"> Transfer Money</h3>

        <form [formGroup]="transferForm" (ngSubmit)="transfer(transferForm)">
            <div class="form-group">
                <label for="accountNumber">Account Number</label>
                <input type="number" class="form-control" id="sendToAccount" formControlName="sendToAccount">
                <small id="emailHelp" class="form-text text-muted">Account number you want to send money</small>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" formControlName="amount">
                <small id="emailHelp" class="form-text text-muted">Amount money to send</small>
            </div>

        <label for="accountType">Choose your Account  :  </label>
        
        <select name="sendFromAccount" id="sendFromAccount" formControlName="sendFromAccount" >
          <ng-container *ngFor=" let each of account">
            <option *ngIf="each.accountNumber == accountNumber" [value]="each.accountType">{{each.accountType}}</option>
        </ng-container>
        </select>


            <div>
            <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
        
       
    </div>
</div>
</body>

